# git ignore file
Thumbs.db
*.obj
*.pidb
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/WP8EmbeddingFontSampleApp/WP8EmbeddingFontSampleApp/*.user

/WP8EmbeddingFontSampleApp/*.suo
/WP8EmbeddingFontSampleApp/*.suo
