<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="WkHtmlToXSharp" version="1.1.23.22" targetFramework="net46" />
  <package id="WkHtmlToXSharp.Win32" version="1.1.23.22" targetFramework="net45" />
  <package id="WkHtmlToXSharp.Win64" version="1.1.23.22" targetFramework="net45" />
</packages>