<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="WkHtmlToXSharp" version="1.2.24" targetFramework="net46" />
  <package id="WkHtmlToXSharp.Win32" version="1.2.24" targetFramework="net46" />
  <package id="WkHtmlToXSharp.Win64" version="1.2.24" targetFramework="net46" />
</packages>