<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="wp80" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="wp80" />
  <package id="Portable.MvvmLightLibs" version="4.1.27.6" targetFramework="wp80" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>